/**
About us page Css customize
Authors: - Bui Thai Son (s4037172)
         - Nguyen Anh Tung (s4045602)
**/


/** 
---------- Import header style for the webpage */ @import url('header.css'); /* ----------
*/


/**
----------- Import sidebar style for the webpage */ @import url('sidebar.css'); /* --------------
**/

/** ------- Import footer styles for the webpage **/ @import url("footer.css"); /* --------------
**
*/

/** ------- Import tooltip styles for the webpage **/ @import url("tooltip.css"); /* --------------
**
*/

* {
    box-sizing: border-box;
}

:root {
    --background-color-light: #FFFFFF;
    --background-color-dark: #000000;
    --Electric-blue: #86EEEC;
    --Amenthys: #AC63D4;
    --Grapes: #7B1DaE;
    --Turquoise: #53E8D4;
    --hover-background: #d9d9d9;
    --post-background-light: #d8d8d8;
    --post-background-dark: #231F20;
    --animation-timing: 200ms ease-in-out;
    --cross-height: calc(4px * 3 + 4px * 2);
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color-light);
    font-family: 'Inter', sans-serif;
}

/* input {
    display: none;
} */


/* .hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: 30px;
    transform-origin: left center;
    height: 5px;
    background-color: var(--background-color-dark);
    border-radius: 9999px;
    transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing);
}

.hamburger-menu {
    --x-width: calc(var(--cross-height) * 1.41421356237); 

    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 40px;
    cursor: pointer;
    width: max-content;
    margin-top: 7.5px;
    margin-right: 20px;
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(5px / -2);
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(5px / 2);
} */

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 80px); /*Actually this is the real reason why the sidebar is wrong :) */
}

/** --------------------------------- End of right button styles -------------------------------------- **/
/*** ----------------------------------------------------------------------------------------------------***/
/** ------------------------------------- Main styles ---------------------------------------------------- ***/
.content {
    width: calc(100% - 15%);
    height: calc(100% - 80px);
}

.content h1{
    text-align: center;
    font-size: 40px;
}

.title{
    margin-top: 200px;
    margin-bottom: 100px;
}
.about {
    background: rgb(224, 251, 222);
    background: linear-gradient(360deg, rgb(245, 255, 245) 0%, rgb(173, 252, 163) 100%);
    padding: 100px 0 20px 0;
    text-align: center;
}
 
.about h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
 
.about p {
    font-size: 1rem;
    color: #323030;
    max-width: 800px;
    margin: 0 auto;
}
 
.about-info {
    margin: 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}
 
.about-img {
    width: 20rem;
    height: 20rem;
 
}
 
.about-img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: contain;
}
 
.about-info p {
    font-size: 1.3rem;
    margin: 0 2rem;
    text-align: justify;
    font-weight: 600;
}

.more-info {
    display: none;
    transition: var(--animation-timing);
}

.more-info p {
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.7;
}

.more-info p span {
    color: var(--Grapes);
}

.more-info span .pedia {
    color: var(--Turquoise);
}

.readmore {
    border: none;
    outline: 0;
    padding: 10px;
    margin: 2rem;
    font-size: 1rem;
    color: black;
    background-color: #53E8D4;
    text-align: center;
    cursor: pointer;
    width: 15rem;
    border-radius: 4px;
}
 
.readmore:hover {
    background-color: #399c8f;
    transition: var(--animation-timing);
}
 
.team-container {
    display: flex; 
    justify-content: space-between; 
    flex-direction: column;
}
.content h1{
   color: #7B1DaE;
}

.teammate {
    margin-bottom: 40px;
    display: flex;
    align-items: center;

}

#teammate1, #teammate2, #teammate3, #teammate4{
    margin-left: 80px;
}

.teammate img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    border: 5px solid #53E8D4; 
}

.teammate-info {
    flex: 1;
    margin-right: 100px;
}

.teammate-info h3 {
    font-size: 24px;
    color: #231F20; 
    margin-bottom: 10px;
}

.teammate-info p {
    font-size: 18px;
    color: #555555; 
    margin-bottom: 15px;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    color: #555555; 
    font-size: 24px;
    margin-right: 10px;
}

.social-links a:hover {
    color: #4267B2; 
}

.social-links a:hover i.fa-instagram {
    color: #C13584; 
}
.teammate-info h3{
    color:#AC63D4;
}

.teammate-info p{
    color: #37bdab;
}

.content h1 {
    margin-top: 30px;
}

/** ------------------------------------- End of main styles --------------------------------- ****/
/**** ------------------------------------------------------------------------------------------ ***/
/*** ------------------------------------ Responsiveness ------------------------------------------ **/

 @media (max-width: 576px) {
    .main {
        flex-direction: column;
    }

    .teammate img {
        width: 100px;
        height: 100px;
        margin-right: 20px;
    }

    #teammate1, #teammate2, #teammate3, #teammate4 {
        margin-left: 20px;
    }

    .teammate-info p {
        font-size: 15px;
    }

    .teammate-info h3 {
        font-size: 20px;
    }

    .title {
        margin-left: 70px;
    }

    .content h1 {
        margin-top: 30px;
    }
 }