/**
Homepage (landing page) Css customize
Author: Bui Thai Son (s4037172)
**/


/** 
---------- Import header style for the webpage */ @import url('header.css'); /* ----------
*/


/**
----------- Import sidebar style for the webpage */ @import url('sidebar.css'); /* --------------
**/

/** ------- Import info table styles for the webpage **/ @import url("infoTableDisplay.css"); /* --------------
**
*/


/** ------- Import footer styles for the webpage **/ @import url("footer.css"); /* --------------
**
*/

* {
    box-sizing: border-box;
}

:root {
    --background-color-light: #FFFFFF;
    --background-color-dark: #000000;
    --Electric-blue: #86EEEC;
    --Amenthys: #AC63D4;
    --Grapes: #7B1DaE;
    --Turquoise: #53E8D4;
    --hover-background: #d9d9d9;
    --post-background-light: #d8d8d8;
    --post-background-dark: #231F20;
    --animation-timing: 200ms ease-in-out;
    --cross-height: calc(5px * 3 + 5px * 2);
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color-light);
    font-family: 'Inter', sans-serif;
}


/* .hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: 30px;
    transform-origin: left center;
    height: 5px;
    background-color: var(--background-color-dark);
    border-radius: 9999px;
    transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing);
}

.hamburger-menu {
    --x-width: calc(var(--cross-height) * 1.41421356237); 

    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 40px;
    cursor: pointer;
    width: max-content;
    margin-top: 7.5px;
    margin-right: 20px;
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(5px / -2);
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(5px / 2);
} */


/* 
--------- Right button styles ----------
*/

.right-section a {
    text-decoration: none;
} 

.search-button {
    font-size: 25px;
    margin-top: 2px;
    color: var(--background-color-dark);
    cursor: pointer;
}

.login-button {
    font-size: 13px;
    color: var(--background-color-dark);
    padding: 13px 30px;
    background-color: var(--Turquoise);
    border-radius: 8px;
    font-weight: 600;
}

.register-button {
    font-size: 14px;
    color: var(--background-color-light);
    padding: 13px 40px;
    background-color: var(--Grapes);
    border-radius: 8px;
}

.bg-toggle-button {
    font-size: 30px;
    margin-right: 20px;
    margin-left: 5px;
    color: var(--background-color-dark);
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 80px);
}

/** --------------------------------- End of right button styles -------------------------------------- **/
/*** ----------------------------------------------------------------------------------------------------***/
/** ------------------------------------- Main styles ---------------------------------------------------- ***/

.content {
    width: calc(100% - 15%);
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
}

.demo {
    margin-left: 100px;
    margin-top: 50px;
}

#invaders {
    box-shadow: 0px 0px 2px 2px #d9d9d9;
    background-size: cover;
    border-radius: 5px;
    margin-left: 100px;
}

.demo p {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    padding-top: 20px;
    font-weight: 550;
}

.rating-box {
    margin-top: -50px;
    margin-left: 100px;
}

.flextable {
    display: flex;
}

h2 {
    color: var(--background-color-dark);
    font-size: 30px;
    font-weight: 600;
    margin-left: 100px;
    text-decoration: underline;
}

.table h2 {
    margin-left: 30px;
}

.rating {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
    margin-left: 8px;
    margin-top: -8px;
}

#feedbackForm {
    margin-top: 80px;
    display: flex;
}

.rating input {
	display: none;
}

.rating label {
	font-size: 24px;
	cursor: pointer;
}

.rating label:hover,
.rating label:hover ~ label {
	color: orange;
}

.rating input:checked ~ label {
	color: orange;
}


.rating-box button {
    padding: 5px;
    background-color: #53E8D4;
    border-color: transparent;
    border-radius: 8px;
    margin-left: 10px;
    margin-top: -5px;
}

#infotable {
    display: flex;
}

span button {
    font-size: 15px;
    margin-left: 5px;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
}

span button:hover {
    text-decoration: underline;
}


#ref {
    margin-bottom: 50px;
}

.table {
    display: flex;
    flex-wrap: wrap;
}

.table a {
    text-decoration: none;
}
.table a:hover {
    text-decoration: underline;
}

.table-content {
    margin-top: 10px;
}


.table ul li {
    margin-bottom: 20px;
}

#overview p, #gameplay p, #development p, #reception p, #legacy p, #ref p{
    margin-left: 100px;
    margin-right: 300px;
}

/*** ----------------------------------------------------------- **/
/* ------------------ End of main styles -----------------------**/
/* ------------------------------------------------------------- **/
