/**
Homepage (landing page) Css customize
Author: Bui Thai Son (s4037172)
**/

/** ------------------- Import fonts specifically for this page ------------------- ***/
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/** 
---------- Import header style for the webpage */ @import url('header.css'); /* ----------
*/


/**
----------- Import sidebar style for the webpage */ @import url('sidebar.css'); /* --------------
**/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
    --background-color-light: #FFFFFF;
    --background-color-dark: #000000;
    --Electric-blue: #86EEEC;
    --Amenthys: #AC63D4;
    --Grapes: #7B1DaE;
    --Turquoise: #53E8D4;
    --hover-background: #d9d9d9;
    --post-background-light: #d8d8d8;
    --post-background-dark: #231F20;
}

body {
    background-color: var(--background-color-light);
    font-family: 'Inter', sans-serif;
}

/* @media (max-width: 768px) {
    .side-bar {
      display: none;
    }
    .search {
        display: none;
      }
  }
@media (max-width: 900px) {
    .search input {
      width: 25rem;
    }
  } */

/** ---------------------------- Right button styles -------------------------------------- **/
/** -----------------------------------------------------------------------------------------***/
/** -----------------------------------------------------------------------------------------**/

.log {
    background-color: #53E8D4;
    border-style: none;
    border-radius: 8px;
    display: inline-flex;
    padding: 10px 20px 10px 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

main {
    width: 100%;
    height: calc(100% - 80px);
}

/*------------------------------ End of right button styles -------------------------------- ****/
/** ------------------------------------------------------------------------------------------ ***/
/** ------------------------------------ Main styles ------------------------------------------------- **/

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.post {
    flex: 0 1 70%;
    padding-left: 50px;
}
.title {
    margin-top: 20px;
}

.post input {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 700px;
    height: 45px;
    margin-top: 10px;
    margin-bottom: 30px;
    
}

#req {
    color: red;
}

.rules {
    flex: 0 1 30%;
    background-color: #e5e5e5;
    padding: 30px;
    width: fit-content;
    height: fit-content;
    border-radius: 1px;
    margin-right: 50px;
}
.rules h2 {
    text-align: center;
    margin-bottom: 20px;
}
ol li {
    margin-bottom: 10px;
}
#tag {
    margin-bottom: 15px;
    background-color: #7B1DaE;
    padding: 10px 15px 10px 15px;
    border-style: none ;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

#submit {
    margin-top: 15px;
    background-color: #53E8D4;
    padding: 10px 15px 10px 15px;
    border-style: none ;
    border-radius: 15px;
    cursor: pointer;
    float: right;
    margin-right: 120px;
}

textarea {
    margin-bottom: 20px;
}
ul {
    list-style-type: none;
}
