/** ------------------------------------------------------------------------------ ***/
/** ---------------------------- Register page (Css customize) --------------------------- **/
/** ------------------------------------------------------------------------------------- **/
/** ----------------------------- Author: Bui Thai Son (s4037172) --------------------------- **/

/** --------------- Import some fonts ------------------------------- ****/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mina:wght@700&display=swap");
@import url("https://fonts.cdnfonts.com/css/karmatic-arcade");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    box-sizing: border-box;
}

:root {
    --background-color-light: #FFFFFF;
    --background-color-dark: #000000;
    --Electric-blue: #86EEEC;
    --Amenthys: #AC63D4;
    --Grapes: #7B1DaE;
    --Turquoise: #53E8D4;
    --hover-background: #d9d9d9;
    --post-background-light: #d8d8d8;
    --post-background-dark: #231F20;
    --animation-timing: 300ms ease-in-out;
    --backgrounf-timing: 400ms ease-in-out;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: var(--background-color-light);
    font-family: 'Inter', sans-serif;
    transition: var(--backgrounf-timing);
}

.container {
    display: flex;
    flex-direction: row-reverse;
}

.register-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: fit-content;
    border-radius: 30px;
    margin: 70px;
    padding: 80px;
    border: 0px solid var(--background-color-dark);
    box-shadow: 0px 0px 10px 2px grey;
    position: relative;
}

.register {
    font-size: 64px;
    font-family: 'Mina', sans-serif;
}

.login {
    font-size: 24px;
}

.login a {
    color: var(--Grapes);
    font-style: underline;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 426.75px;
}

.Username, .password, .email, .re-enter-password {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

label {
    font-family:'Roboto', sans-serif;
    font-size: 11px;
    margin-left: 10px;
    font-weight: 600;
}

input {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    padding-left: 10px;
    background-color: #f2f2f2;
    border: none;
}

::placeholder {
    font-size: 15px;
    color: #808080;
}

#submit {
    font-size: 15px;
    background-color: var(--Grapes);
    color: var(--background-color-light);
    cursor: pointer;
}

.exit {
    font-size: 35px;
    position: absolute;
    top: 15px;
    left: 15px;
}

.exit a:hover {
    color: var(--Turquoise);
    transition: var(--animation-timing);
}

.exit a {
    text-decoration: none;
    color: var(--background-color-dark);
}

.fa-solid {
    color: #4d4d4d;
    cursor: pointer;
}

.bg-toggle-button {
    font-size: 40px;
    position: absolute;
    right: 15px;
    top: 15px;
}

.line {
    width: 426.75px;
    height: 1px;
    background-color: var(--post-background-light);
}

span {
    position: absolute;
    top: 50%;
    left: 92%;
}

.text {
    text-align: center;
    /* font-size: 100px; */
    font-family: 'Mina', sans-serif;
    padding-top: 20%;
    padding-left: 1%;
}

.text h5 {
    font-size: 20px;
}

.background {
    font-size: 30px;
    position: absolute;
    top: 15px;
    right: 25px;
}

.text h5 a {
    color: var(--Grapes);
}

.fa-moon {
    color: var(--background-color-dark);
}

.fa-sun {
    color: var(--background-color-light);
}

html[data-bs-theme='dark'] .fa-circle-xmark {
    color: var(--background-color-light);
}

html[data-bs-theme='dark'] .fa-circle-xmark:hover {
    color: var(--Electric-blue);
    transition: var(--animation-timing);
}

/** ---------------------------------------------------------------------------------- **/
/** ---------------------------- Responsiveness -------------------------------------------- **/
/** -------------------------------------------------------------------------------------- **/

@media (max-width: 1270px) {
    .text {
        font-size: 35px;
    }

    .register-form {
        padding: 50px;
    }

    .register {
        font-size: 50px;
    }

    .login {
        font-size: 22px;
    }

    .exit {
        font-size: 30px;
    }
}

@media (max-width: 1160px) {
    .text {
        font-size: 30px;
    }

    .register-form {
        padding: 40px;
    }
}

@media (max-width: 981px) {
    .text {
        font-size: 25px;
    }

    .register-form {
        padding: 30px;
        margin: 50px;
    }

    .register {
        font-size: 40px;
    }

    .login {
        font-size: 20px;
    }

    form {
        align-items: center;
    }

    .Username, .email, .password, .re-enter-password, #submit {
        width: 90%;
    }
}

@media (max-width: 860px) {
    /* hide the text on the right */
    .text {
        display: none;
    }

    .register-form {
        margin: auto;
        margin-top: 70px;
    }
}

@media (max-width: 576px) {
    .register-form {
        width: 100%;
        box-shadow: none;
        margin: 0;
    }

    .register {
        margin-top: 70px;
    }

    .line {
        width: 90%;
    }
}
