/**
---------------------- Sidebar style using for all webpage---------------------------- **/
/** -------------------------------------------------------------------------------------- */

/* -----------------Import text font----------------------- */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mina:wght@700&display=swap");


/** ----------------------- Main styles ------------------------- */

.sidebar {
    display: flex;
    flex-direction: column;
    width: 15%;
    border-right: 1px solid var(--hover-background);
    padding-top: 20px;
}

.links, .sublink {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.links a {
    text-decoration: none;
}

.links li {
    width: 100%;
    padding-bottom: 5px;
}

.links li:last-child {
    border-bottom: 1px solid #d9d9d9;
}

.items {
    display: flex;
    justify-content: left;
    flex-direction: row;
    gap: 20px;
    color: var(--background-color-dark);
    align-items: center;
    padding: 12px 25px;
}

.items:hover {
    background-color: #d9d9d9;
    transition: var(--animation-timing);
}


.sublink {
    display: none;
    font-size: 16px;
    padding-left: 60px;
    padding-top: 10px;
}

.sublink a {
    color: var(--background-color-dark);
}

.sublink li {
    border-bottom: var(--background-color-light);
    width: fit-content;
}

#sub-menu:hover .sublink {
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: var(--animation-timing);
    border-bottom: 1px solid #d9d9d9;
    transition: var(--animation-timing);
}

#sub-menu:last-child:hover .sublink {
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: ease-in var(--animation-timing);
    border: none;
}

.sublink li a:hover {
    color: var(--Turquoise);
    transition: var(--animation-timing);
}

.sublink li:last-child {
    border: none;
}