/** Sitemap page Css customize 
Author: Nguyen Anh Tung (s4045602)

/** 
---------- Import header style for the webpage */ @import url('header.css'); /* ----------
*/


/**
----------- Import sidebar style for the webpage */ @import url('sidebar.css'); /* --------------
**/

/** ------- Import footer styles for the webpage **/ @import url("footer.css"); /* --------------
**
*/

/** ------- Import tooltip styles for the webpage **/ @import url("tooltip.css"); /* --------------
**
*/

* {
    box-sizing: border-box;
}

:root {
    --background-color-light: #FFFFFF;
    --background-color-dark: #000000;
    --Electric-blue: #86EEEC;
    --Amenthys: #AC63D4;
    --Grapes: #7B1DaE;
    --Turquoise: #53E8D4;
    --hover-background: #d9d9d9;
    --post-background-light: #d8d8d8;
    --post-background-dark: #231F20;
    --animation-timing: 200ms ease-in-out;
    --background-timing: 400ms ease-in-out;
    --cross-height: calc(4px * 3 + 4px * 2);
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    transition: var(--background-timing);
    font-family: 'Inter', sans-serif;
}

/* input {
    display: none;
} */


/* .hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: 30px;
    transform-origin: left center;
    height: 5px;
    background-color: var(--background-color-dark);
    border-radius: 9999px;
    transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing);
}

.hamburger-menu {
    --x-width: calc(var(--cross-height) * 1.41421356237); 

    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 40px;
    cursor: pointer;
    width: max-content;
    margin-top: 7.5px;
    margin-right: 20px;
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(5px / -2);
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(5px / 2);
} */

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 80px); /*Actually this is the real reason why the sidebar is wrong :) */
}

/*-------------- End of right button styles -------------
---------------------------------------------------------
---------------- Main content styles --------------------
**
*/

.sidemap h1 {
    text-align: center;
    color: #7B1DaE;
    margin-bottom: 20px;
}
ul {
    list-style-type: none;
    padding: 0;
    
}
li {
    margin: 5px 0;
    
}
p{
    text-decoration: none;
    color: #7B1DaE;
}
a {
    text-decoration: none;
    color: #7B1DaE;
}
a:hover {
    text-decoration: underline;
}
.sidemap {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-bottom: 50px;
}

.large-section {
    font-size: 1.2em;
    font-weight: bold;
}
.small-section {
    margin-left: 20px;
    font-size: 1em;
}
.small-section ul {
    margin-left: 20px;
    font-size: 1em;
}

/** ------------------- Smaller tablet responsive -----------------------------***/
/*** --------------------------------------------------------------------------- **/
/** --------------------- min width: 576px and max-width: 768px -------------------- ***/

@media (min-width: 576px) and (max-width: 768px) {
    .sidemap {
        width: 100%;
        height: 100%;
        margin-top: 10px;
        box-shadow: none;
    }
}

/** ------------------------------------------------------------------------------------ **\/
/** ----------------------------------Mobile responsive--------------------------------- **/
/** --------------------------------- max-width: 576px ---------------------------------- **/

@media (max-width: 576px) {
    .main {
        flex-direction: column;
    }

    .sidemap {
        width: 100%;
        height: 100%;
        margin-top: 10px;
        box-shadow: none;
    }
}
