/**
Homepage (landing page) Css customize
Author: Bui Thai Son (s4037172)
**/


/** 
---------- Import header style for the webpage */ @import url('header.css'); /* ----------
*/


/**
----------- Import sidebar style for the webpage */ @import url('sidebar.css'); /* --------------
**/


/** ------- Import footer styles for the webpage **/ @import url("footer.css"); /* --------------
**
*/

/** ------- Import tooltip styles for the webpage **/ @import url("tooltip.css"); /* --------------
**
*/

* {
    box-sizing: border-box;
}

:root {
    --background-color-light: #FFFFFF;
    --background-color-dark: #000000;
    --Electric-blue: #86EEEC;
    --Amenthys: #AC63D4;
    --Grapes: #7B1DaE;
    --Turquoise: #53E8D4;
    --hover-background: #d9d9d9;
    --post-background-light: #d8d8d8;
    --post-background-dark: #231F20;
    --animation-timing: 200ms ease-in-out;
    --cross-height: calc(5px * 3 + 5px * 2);
}

html, body {
    margin: 0;
    padding: 0;
    /* height: 100%;
    width: 100%; */
}

body {
    background-color: var(--background-color-light);
    font-family: 'Inter', sans-serif;
}

/* input {
    display: none;
} */


/* .hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: 30px;
    transform-origin: left center;
    height: 5px;
    background-color: var(--background-color-dark);
    border-radius: 9999px;
    transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing);
}

.hamburger-menu {
    --x-width: calc(var(--cross-height) * 1.41421356237); 

    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 40px;
    cursor: pointer;
    width: max-content;
    margin-top: 7.5px;
    margin-right: 20px;
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(5px / -2);
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(5px / 2);
} */

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 80px);
} 

/** -------------------------- End of right button styles ------------------------ ***/
/*** ------------------------------------------------------------------------------- **/
/** ------------------------------- Main styles ------------------------------------- **/

.content {
    width: calc(100% - 15%);
    height: calc(100% - 80px);
}

.info {
    display: flex;
    justify-content: space-between;
}

.user-profile {
    margin-left: 80px;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    gap: 0;
    /* position: relative; */
    width: fit-content;
}

.user-profile img {
    border-radius: 9999px;
    border: 3px solid var(--background-color-dark);
    margin-top: 10px;
}

.name-timestamp {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 30px; 
    font-weight: 600; 
    margin-left: 20px;
    margin-top: 20px;
}

.timestamp {
    margin-left: 20px;
    font-size: 20px;
    margin-top: 10px;
}

.user-settings {
    margin-right: 80px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.edit {
    font-size: 20px;
    padding: 7px;
    border: 2px solid var(--background-color-dark);
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
}

.edit i {
    padding-right: 5px;
}

.deactivate {
    font-size: 20px;
    padding: 7px;
    border: 2px solid red;
    text-align: center;
    border-radius: 6px;
    color: red;
    cursor: pointer;
}

.edit:hover {
    color: var(--background-color-light);
    background-color: var(--background-color-dark);
    transition: var(--animation-timing);
}

.deactivate:hover {
    color: var(--background-color-light);
    background-color: red;
    transition: var(--animation-timing);
}

.filter {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 80px;
    width: fit-content;
}

.line {
    border-bottom: 2px solid #d9d9d9;
    width: 90%;
    margin-left: 5%;
    margin-top: -2px;
}

.about {
    border-bottom: 5px solid var(--Turquoise);
    padding: 10px;
    color: var(--Turquoise);
    cursor: pointer;
    transition: var(--animation-timing);
}

.about-after {
    color: var(--background-color-dark);
    border: none;
    transition: var(--animation-timing);
}

.activity {
    padding: 10px;
    color: var(--background-color-dark);
    cursor: pointer;
    transition: var(--animation-timing);
}

.activity-after {
    border-bottom: 5px solid var(--Turquoise);
    padding: 10px;
    color: var(--Turquoise);
    cursor: pointer;
    transition: var(--animation-timing);
}

.story {
    font-size: 15px;
    font-weight: 600;
    width: 80%;
    margin-left: 70px;
    margin-top: 80px;
    display: block;
    margin-bottom: 50%;
}

.recent-post {
    display: none;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 80px;
}

.post {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    background: var(--post-background-light);
    border-radius: 20px;
    margin: auto;
    margin-bottom: 100px;
    box-shadow: 0px 0px 10px 2px var(--hover-background);
    position: relative;
}

.profilePic {
    border-radius: 9999px;
    margin-right: 10px;
}

.userInfo {
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: 5px;
    padding: 20px;
    font-size: 20px;
}

.timestamp {
    margin-bottom: 10px;
}

.options-container {
   left: 95%;
   top: 8%;
   font-size: 20px;
   position: absolute;
   cursor: pointer;
}

.options-container:hover {
    color: var(--background-color-light);
    transition: var(--animation-timing);
}

.buttons-container {
    display: none;
    position: absolute;
    right: 50px;
    top: 0px;
    height: 100px;
    width: 100px;
}

.invisible {
    display: none;
}

.userAction {
    cursor: pointer;
    display: block;
}

.userAction:first-of-type button {
    border: 2px solid black;
    border-bottom: 0;
    border-radius: 20px 20px 0 0;
    transition: background 0.3s ease;
}

.userAction:last-of-type button {
    border: 2px solid black;
    border-top: 0;
    border-radius: 0 0 20px 20px;
    transition: background 0.3s ease;
}

.userAction button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    font-weight: 550;
    font-size: 15px;
    text-align: left;
    border: none;
    background: whitesmoke;
}

.text {
    margin-left: 50px;
    width: fit-content;
}

.text p {
    font-weight: 600;
    font-size: 20px;
}

.userAction:hover {
    background-color: white;
    border-radius: 20px;
}

.userAction:first-of-type button:hover {
    background-color: #DADADA;
    border-radius: 20px 20px 0 0;
}

.userAction:last-of-type button:hover {
    background-color: #DADADA;
}

.noUnderlineLink {
    text-decoration: none;
    font-size: 25px;
}

.reaction {
    display: inline-flex;
    box-sizing: border-box;
    /* width: 100px; */
    border: 2px solid #000000;
    border-radius: 30px;
    margin-right: 30px;
    align-items: center;
}

.reaction span.like-post-button, .reaction span.dislike-post-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 0 5px 0 5px;
    border-radius: 9999px;
    transition: background 0.3s ease;
}

.reaction span.like-post-button:hover, .reaction span.dislike-post-button:hover {
    background-color: whitesmoke;
}

.likedLike {
    color: green;
}

.dislikedDislike {
    color: red;    
}

.reply {
    /* cursor: pointer; */
    display: inline-flex;
    box-sizing: border-box;
    /* width: 100px; */
    border: 2px solid #000000;
    border-radius: 30px;
    margin-right: 30px;
    align-items: center;
}

.reply a {
    text-decoration: none;
    color: black;
    border-radius: 30px;
    transition: background 0.3s ease;
}

.reply a:hover {
    background-color: whitesmoke;
}

.reply span {
    display: inline-block;
    padding: 2.5px 7px 2.5px 7px;
}

.comment-outline {
    display: inline-block;
    /* cursor: pointer; */
    border-radius: 50%;
    transition: background 0.3s ease;
}

.comment-outline:hover {
    background-color: white;
}

.reaction, .reply {
    margin-bottom: 20px;
}

/** --------------------------- End of main styles ------------------------------- **/
/** ------------------------------------------------------------------------------- **/
/** ------------------------------- Footer styles ----------------------------------- **/

.footer {
    width: 100%;
    height: 300px;
    background-color: #8921C2;
}