/**
Homepage (landing page) Css customize
Author: Bui Thai Son (s4037172)
**/


/** 
---------- Import header style for the webpage */ @import url('header.css'); /* ----------
*/


/**
----------- Import sidebar style for the webpage */ @import url('sidebar.css'); /* --------------
**/



* {
    box-sizing: border-box;
}

:root {
    --background-color-light: #FFFFFF;
    --background-color-dark: #000000;
    --Electric-blue: #86EEEC;
    --Amenthys: #AC63D4;
    --Grapes: #7B1DaE;
    --Turquoise: #53E8D4;
    --hover-background: #d9d9d9;
    --post-background-light: #d8d8d8;
    --post-background-dark: #231F20;
    --animation-timing: 200ms ease-in-out;
    --cross-height: calc(5px * 3 + 5px * 2);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: var(--background-color-light);
    font-family: 'Inter', sans-serif;
}

input {
    display: none;
}


/* .hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: 30px;
    transform-origin: left center;
    height: 5px;
    background-color: var(--background-color-dark);
    border-radius: 9999px;
    transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing);
}

.hamburger-menu {
    --x-width: calc(var(--cross-height) * 1.41421356237); 

    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 40px;
    cursor: pointer;
    width: max-content;
    margin-top: 7.5px;
    margin-right: 20px;
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(5px / -2);
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(5px / 2);
} */


/* 
--------- Right button styles ----------
*/

.right-section a {
    text-decoration: none;
} 

.search-button {
    font-size: 25px;
    margin-top: 2px;
    color: var(--background-color-dark);
    cursor: pointer;
}

.logout-button {
    font-size: 13px;
    color: var(--background-color-dark);
    padding: 13px 30px;
    background-color: var(--Turquoise);
    border-radius: 8px;
    font-weight: 600;
}

.username {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--background-color-dark);
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
}

.username img {
    border-radius: 9999px;
}

.bg-toggle-button {
    font-size: 30px;
    margin-right: 20px;
    margin-left: 5px;
    color: var(--background-color-dark);
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh);
}

/** -------------------------- End of right button styles ------------------------ ***/
/*** ------------------------------------------------------------------------------- **/
/** ------------------------------- Main styles ------------------------------------- **/

.content {
    width: calc(100% - 15%);
    height: calc(100% - 80px);
}

.info {
    display: flex;
    justify-content: space-between;
}

.user-profile {
    margin-left: 80px;
    margin-top: 80px;
    position: relative;
    width: fit-content;
}

.user-profile img {
    border-radius: 9999px;
    border: 3px solid var(--background-color-dark);
}

.name {
    position: absolute;
    top: 15%;
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}

.timestamp {
    margin-left: 20px;
    font-size: 20px;
}

.user-settings {
    margin-right: 80px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.edit {
    font-size: 20px;
    padding: 7px;
    border: 2px solid var(--background-color-dark);
    border-radius: 6px;
    font-weight: 500;
}

.edit i {
    padding-right: 5px;
}

.deactivate {
    font-size: 20px;
    padding: 7px;
    border: 2px solid red;
    text-align: center;
    border-radius: 6px;
    color: red;
}

.filter {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-left: 80px;
    width: fit-content;
}

hr {
    width: 90%;
}

.about {
    
}
/** --------------------------- End of main styles ------------------------------- **/
/** ------------------------------------------------------------------------------- **/
/** ------------------------------- Footer styles ----------------------------------- **/

.footer {
    width: 100%;
    height: 300px;
    background-color: #8921C2;
}




