<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arcadepedia | Viewpost</title>
    <!--Import fonts for icons-->
    <script src="https://kit.fontawesome.com/d535fdea96.js" crossorigin="anonymous"></script>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/Viewpost(+comments).css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
</head>
<body>
    <header class="header">
        <div class="left-section">
            <div class="menu">
                <label class="hamburger-menu" for="check">
                    <input type="checkbox" id="check" class="hamburger-menu-trigger" aria-label="Toggle menu">
                </label>
            </div>
            <a href="Homepage.html" aria-label="Homepage">
                <div class="logo">
                    <span>
                        arcade<span class="pedia">pedia</span>
                    </span>
                </div>
            </a>
        </div>

        <div class="right-section">
            <a href="login.html">
                <div class="login-button" role="button" tabindex="0">
                    Login
                </div>
            </a>
            <a href="register.html">
                <div class="register-button" role="button" tabindex="0">
                    <i class="fa-regular fa-circle-user" id="profile"></i>
                    Register
                </div>
            </a>
            <div class="bg-toggle-button" role="button" tabindex="0" aria-label="Toggle background">
                <i class="fa-solid fa-moon"></i>
            </div>
        </div>
    </header>

    <div class="main">
        <div class="sidebar">
            <nav role="navigation" aria-label="Main navigation">
                <ul class="links">
                    <li><a href="Homepage.html"><div class="items"><i class="fa fa-house"></i><span>Home</span></div></a></li>
                    <li class="sub-menu" id="sub-menu1">
                        <div class="items" role="button" tabindex="0" aria-haspopup="true" aria-expanded="false" aria-label="Expand Explore menu">
                            <i class="fa-regular fa-compass"></i><span>Explore</span><i class="fa-solid fa-chevron-down" id="expand"></i>
                        </div>
                        <ul class="sublink" id="sublink1">
                            <li><a href="#">General</a></li>
                            <li><a href="#">All entries</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu" id="sub-menu2">
                        <div class="items" role="button" tabindex="0" aria-haspopup="true" aria-expanded="false" aria-label="Expand Forums menu">
                            <i class="fa-regular fa-comments"></i><span>Forums</span><i class="fa-solid fa-chevron-down" id="expand"></i>
                        </div>
                        <ul class="sublink" id="sublink2">
                            <li><a href="#">Discussions</a></li>
                            <li><a href="#">Users</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu" id="sub-menu3">
                        <div class="items" role="button" tabindex="0" aria-haspopup="true" aria-expanded="false" aria-label="Expand About menu">
                            <i class="fa-regular fa-circle-question"></i><span>About</span><i class="fa-solid fa-chevron-down" id="expand"></i>
                        </div>
                        <ul class="sublink" id="sublink3">
                            <li><a href="AboutUs.html">About us</a></li>
                            <li><a href="legalAndCompliance.html">Legal And Compliance</a></li>
                            <li><a href="Rules.html">Rules</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="content col-xl-8 col-lg-8 col-md-8 mx-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Forum</a></li>
                    <li class="breadcrumb-item"><a href="/forum/topics">Topics</a></li>
                    <li class="breadcrumb-item"><a href="#"><%= topic_id %></a></li>
                    <li class="breadcrumb-item"><a href="/forum/topics/<%= topic_id %>/posts">Posts</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><%= post.title %></li>
                </ol>
            </nav>

            <div class="content-margin">
                <div class="row">
                    <a class="noUnderlineLink" href="#">&larr; All posts</a>
                </div>
                <div class="post">
                    <div class="infoRow justify-content-between">
                        <div class="userInfo">
                            <span><img class="profilePic" src="./assets/Viewpost/placeholder-pic.png" alt="profilePic" width="40px" height="40px"></span>
                            <span class="username">Minh Khoi</span>
                            <span class="timestampSeperator">•</span>
                            <span class="timestamp">May 15th, 2099</span>
                        </div>
                        <div class="options-container">
                            <span class="option"><i class="fa-solid fa-ellipsis"></i></span>
                            <div class="buttons-container invisible">
                                <form action="#" method="get" class="userAction">
                                    <button type="submit"><i class="fa-solid fa-trash"></i>Delete</button>
                                </form>
                                <form action="#" method="get" class="userAction">
                                    <button type="submit"><i class="fa-solid fa-pen"></i>Edit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h1>Title</h1>
                    </div>
                    <div class="row">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="row">
                        <span>
                            <span class="reaction">
                                <span class="like-post-button">&#x25B2;</span>
                                0
                                <span class="dislike-post-button">&#x25BC;</span>    
                        </span>
                        <span class="reply">
                            <span class="comment-outline">
                                <i class="fa-regular fa-message"></i>
                            </span>
                            <span class="numberOfComments">
                                123
                            </span>    
                        </span>
                    </div>
                </div>
                <hr>
                <div class="makeComment">
                    <div class="userClick">
                        <img class="profilePic" src="./assets/Viewpost/placeholder-pic.png" alt="profilePic" width="40px" height="40px">
                        <span>Leave a comment</span>
                    </div>
                </div>
                <hr>
                <div class="commentSection">
                    <div class="comment" id="1">
                        <div class="infoRow justify-content-between">
                            <div class="userInfo">
                                <span><img class="profilePic" src="./assets/Viewpost/placeholder-pic.png" alt="profilePic" width="40px" height="40px"></span>
                                <span class="username">Minh Khoi</span>
                                <span class="timestampSeperator">•</span>
                                <span class="timestamp">May 15th, 2099</span>
                            </div>
                            <div class="options-container">
                                <span class="option"><i class="fa-solid fa-ellipsis"></i></span>
                                <div class="buttons-container invisible">
                                    <form action="#" method="get" class="userAction">
                                        <button type="submit"><i class="fa-solid fa-trash"></i>Delete</button>
                                    </form>
                                    <form action="#" method="get" class="userAction">
                                        <button type="submit"><i class="fa-solid fa-pen"></i>Edit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="row">
                            <span>
                                <span class="reaction">
                                    <span class="like-comment-button">&#x25B2;</span>
                                    0
                                    <span class="dislike-comment-button">&#x25BC;</span>    
                                </span>
                                <span class="reply">
                                    <a href="#" class="commentOpen">
                                        <span class="comment-outline">
                                            <i class="fa-regular fa-message"></i>
                                        </span>
                                        <span class="numberOfComments">
                                            123
                                        </span>
                                    </a>
                                </span>
                            </span>
                        </div>
                    </div>
                    <hr>
                    <div class="comment" id="2">
                        <div class="infoRow justify-content-between">
                            <div class="userInfo">
                                <span><img class="profilePic" src="./assets/Viewpost/placeholder-pic.png" alt="profilePic" width="40px" height="40px"></span>
                                <span class="username">Minh Khoi</span>
                                <span class="timestampSeperator">•</span>
                                <span class="timestamp">May 15th, 2099</span>
                            </div>
                            <div class="options-container">
                                <span class="option"><i class="fa-solid fa-ellipsis"></i></span>
                                <div class="buttons-container invisible">
                                    <form action="#" method="get" class="userAction">
                                        <button type="submit"><i class="fa-solid fa-trash"></i>Delete</button>
                                    </form>
                                    <form action="#" method="get" class="userAction">
                                        <button type="submit"><i class="fa-solid fa-pen"></i>Edit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="row">
                            <span>
                                <span class="reaction">
                                    <span class="like-comment-button">&#x25B2;</span>
                                    0
                                    <span class="dislike-comment-button">&#x25BC;</span>    
                                </span>
                                <span class="reply">
                                    <a href="#" class="commentOpen">
                                        <span class="comment-outline">
                                            <i class="fa-regular fa-message"></i>
                                        </span>
                                        <span class="numberOfComments">
                                            123
                                        </span>
                                    </a>
                                </span>
                            </span>
                        </div>    
                    </div>
                    <hr>
                    <div class="comment" id="3">
                        <div class="infoRow justify-content-between">
                            <div class="userInfo">
                                <span><img class="profilePic" src="./assets/Viewpost/placeholder-pic.png" alt="profilePic" width="40px" height="40px"></span>
                                <span class="username">Minh Khoi</span>
                                <span class="timestampSeperator">•</span>
                                <span class="timestamp">May 15th, 2099</span>
                            </div>
                            <div class="options-container">
                                <span class="option"><i class="fa-solid fa-ellipsis"></i></span>
                                <div class="buttons-container invisible">
                                    <form action="#" method="get" class="userAction">
                                        <button type="submit"><i class="fa-solid fa-trash"></i>Delete</button>
                                    </form>
                                    <form action="#" method="get" class="userAction">
                                        <button type="submit"><i class="fa-solid fa-pen"></i>Edit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="row">
                            <span>
                                <span class="reaction">
                                    <span class="like-comment-button">&#x25B2;</span>
                                    0
                                    <span class="dislike-comment-button">&#x25BC;</span>    
                                </span>
                                <span class="reply">
                                    <a href="#" class="commentOpen">
                                        <span class="comment-outline">
                                            <i class="fa-regular fa-message"></i>
                                        </span>
                                        <span class="numberOfComments">
                                            123
                                        </span>    
                                    </a>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div id="position">
                    <div class="logo">
                        <span style="color: white;">
                            arcade<span class="pedia">pedia</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <h6>Contact us</h6>
                    <form action="#" class="contact-form">
                        <div class="form-group">
                            <input type="text" id="contact-name" class="form-control" placeholder="Name" aria-label="Name">
                        </div>
                        <div class="form-group">
                            <input type="text" id="contact-email" class="form-control" placeholder="Email" aria-label="Email">
                        </div>
                        <div class="form-group">
                            <textarea id="contact-message" name="" cols="30" rows="3" class="form-control" placeholder="Message" aria-label="Message"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control submit px-3">Send</button>
                        </div>
                    </form>
                </div>

                <div class="col-xs-6 col-md-4">
                    <h6>Forum</h6>
                    <ul class="footer-links">
                        <li><a href="Viewtopics.html">Topics</a></li>
                        <li><a href="Viewtopic(+posts).html">Posts</a></li>
                        <li><a href="#">Gallery</a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-4">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li><a href="Homepage.html">Home</a></li>
                        <li><a href="legalAndCompliance.html">Legal & Compliance</a></li>
                        <li><a href="Sitemap.html">Sitemap</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; <script>document.write(new Date().getFullYear());</script>
                    </p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="facebook" href="#" aria-label="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#" aria-label="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="instagram" href="#" aria-label="Instagram"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script>
        //Variables declaration
        // let check = document.querySelector("#check");
        // let sidebar = document.querySelector('.sidebar');
        // let content = document.querySelector('.content');
        // let links = document.querySelector('.links');
        
        let options = document.querySelectorAll(".option");

        let likePostBtns = document.querySelectorAll(".like-post-button");
        let dislikePostBtns = document.querySelectorAll(".dislike-post-button");
        let likeCommentBtns = document.querySelectorAll(".like-comment-button");
        let dislikeCommentBtns = document.querySelectorAll(".dislike-comment-button");

        let makeCommentWidget = document.querySelector(".makeComment");
        let i = 0;
        let initialHeight;
        let makeCommentWidget1 = document.querySelector(".reply");

        // check.addEventListener("click", (e) => {
        //     if (check.checked == true) {
        //         sidebar.style.width = "15%";
        //         content.style.marginLeft = "15%";
        //         links.style.opacity = "100%";
        //     } else {
        //         sidebar.style.width = "0";
        //         content.style.marginLeft = "0";
        //         links.style.opacity = "0";
        //     }
        // });

        options.forEach((option) => {
            option.addEventListener("click", (e) => {
                let btnsContainer = option.parentElement.querySelectorAll(".buttons-container");
                btnsContainer.forEach((btn) => {
                    btn.classList.toggle("invisible");
                })
            })
        });

        [...likePostBtns, ...likeCommentBtns].forEach(button => {
            button.addEventListener("click", (e) => {
                if(button.classList.contains("like-post-button")) {
                    button.classList.toggle("likedLike");
                } else {
                    button.classList.toggle("likedLike");
                }
            });
        });

        [...dislikePostBtns, ...dislikeCommentBtns].forEach(button => {
            button.addEventListener("click", (e) => {
                if(button.classList.contains("dislike-post-button")) {
                    button.classList.toggle("dislikedDislike");
                } else {
                    button.classList.toggle("dislikedDislike");
                }
            });
        });

        makeCommentWidget1.addEventListener("click", (e) => {
            makeCommentWidget.click();
        });

        makeCommentWidget.addEventListener("click", (e) => {
            if(i === 0) {
                i++;
                e.currentTarget.classList.add('expanded');

                e.currentTarget.innerHTML = '';

                
                // Create the form element
                let form = document.createElement('form');
                form.action = "/forum/topics/<%= topicId %>/posts/<%= post._id %>/comment";
                form.method = "get";
                form.className = "formAction";
                
                // Create the input element
                let editor = document.createElement('div');
                editor.className = 'editor';

                // Define the buttons and their data-elements
                const buttons = [
                    { element: 'bold', icon: 'fa-bold' },
                    { element: 'italic', icon: 'fa-italic' },
                    { element: 'underline', icon: 'fa-underline' },
                    { element: 'insertUnorderedList', icon: 'fa-list-ul' },
                    { element: 'insertOrderedList', icon: 'fa-list-ol' },
                    { element: 'createLink', icon: 'fa-link' }
                ];

                // Create the buttons and append them to the editor
                buttons.forEach(button => {
                    let btn = document.createElement('button');
                    btn.type = 'button';
                    btn.className = 'edit-btn';
                    btn.dataset.element = button.element;

                    let i = document.createElement('i');
                    i.className = `fa-solid ${button.icon} fa-lg`;

                    btn.appendChild(i);
                    editor.appendChild(btn);
                });

                // Create the textarea element
                let textarea = document.createElement('textarea');
                textarea.name = "comment[content]";
                textarea.id = "commentContent";
                textarea.placeholder = "Write your comment here...";

                // Create the textarea element
                let output = document.createElement('div');
                output.className = "output";

                //Create the submit button
                let submitBtn = document.createElement('button');
                submitBtn.type = 'submit';
                submitBtn.textContent = 'Post';
                submitBtn.className = "submitBtnB";

                // Append the textarea to the form
                form.appendChild(editor);
                form.appendChild(textarea);
                form.appendChild(output);
                form.appendChild(submitBtn);

                // Append the form to the e.currentTarget
                e.currentTarget.appendChild(form);

                // Add event listeners
                editor.querySelectorAll('.edit-btn').forEach(element => {
                    element.addEventListener('click', () => {
                        let command = element.dataset['element'];
                        let tag, textToInsert;

                        switch (command) {
                            case 'bold':
                                tag = 'b';
                                textToInsert = textarea.value.substring(textarea.selectionStart, textarea.selectionEnd);
                                break;
                            case 'italic':
                                tag = 'i';
                                textToInsert = textarea.value.substring(textarea.selectionStart, textarea.selectionEnd);
                                break;
                            case 'underline':
                                tag = 'u';
                                textToInsert = textarea.value.substring(textarea.selectionStart, textarea.selectionEnd);
                                break;
                            case 'insertUnorderedList':
                                // tag = 'ul';
                                // textToInsert = `\n<li></li>\n<li></li>\n`;
                                replaceSelectionWith(`\n<ul>\n<li></li>  <!--Item 1 goes inside of the li tag-->\n<li></li>  <!--Item 2 goes inside of the li tag-->\n</ul>`);
                                break;
                            case 'insertOrderedList':
                                // tag = 'ol';
                                // textToInsert = `\n<li></li>\n<li></li>\n`;
                                replaceSelectionWith(`\n<ol>\n<li></li>  <!--Item 1 goes inside of the li tag-->\n<li></li>  <!--Item 2 goes inside of the li tag-->\n</ol>`);
                                break;
                            case 'createLink':
                                let url = prompt('Enter the link here: ');
                                if (!url.startsWith('http://') && !url.startsWith('https://')) {
                                    url = 'http://' + url;
                                }            
                                let linkText = prompt('Enter the link text here: ');
                                replaceSelectionWith(`<a href="${url}">${linkText}</a>`);
                                break;
                        }

                        if (tag) {
                            replaceSelectionWith(`<${tag}>${textToInsert}</${tag}>`);
                        }

                        output.innerHTML = textarea.value;
                    });
                });

                textarea.addEventListener('input', () => {
                    output.innerHTML = textarea.value;
                });

                function replaceSelectionWith(text) {
                    textarea.value = textarea.value.substring(0, textarea.selectionStart) + text + textarea.value.substring(textarea.selectionEnd);
                }

                /*============================================================================================================
                <div class="makeComment">
                    <form action="/forum/topics/<%= topicId %>/posts/<%= post._id %>/comment" method="get" class="formAction">
                        <div class="editor">
                            <button type="button" class="edit-btn" data-element="bold"><i class="fa-solid fa-bold fa-lg"></i></button>
                            <button type="button" class="edit-btn" data-element="italic"><i class="fa-solid fa-italic fa-lg"></i></button>
                            <button type="button" class="edit-btn" data-element="underline"><i class="fa-solid fa-underline fa-lg"></i></button>
                            <button type="button" class="edit-btn" data-element="insertUnorderedList"><i class="fa-solid fa-list-ul fa-lg"></i></button>
                            <button type="button" class="edit-btn" data-element="insertOrderedList"><i class="fa-solid fa-list-ol fa-lg"></i></button>
                            <button type="button" class="edit-btn" data-element="createLink"><i class="fa-solid fa-link fa-lg"></i></button>
                        </div>

                        <textarea name="comment[content]" id="commentContent" placeholder="Write your comment here.."></textarea>
                        <div class="output"></div>
                        <button type="submit" class="submitBtnB">Post</button>
                    </form>
                </div>
                ============================================================================================================*/
            }

            i++;

            let commentArea = document.querySelector('.makeComment textarea');
            let outputDiv = document.querySelector('.makeComment div.output');

            if (initialHeight !== commentArea.offsetHeight) {
                initialHeight = commentArea.offsetHeight;
            }

            // Add event listener for the input event
            commentArea.addEventListener('input', (e) => {
                makePostArea(commentArea, outputDiv);
            });

            makePostArea(commentArea, outputDiv);
        });

        function makePostArea(dom_elem1, dom_elem2) {
            if(dom_elem1.offsetHeight > 200) {
                dom_elem1.parentElement.parentElement.style.height = (dom_elem1.offsetHeight + dom_elem2.offsetHeight + 250) + "px";
            } else {
                dom_elem1.parentElement.parentElement.style.height = (dom_elem1.offsetHeight + dom_elem2.offsetHeight + 200) + "px";
            }
        }

        //             // Add event listener for the input event
        //             textarea.addEventListener('input', function() {
        //         makePostArea(textarea, output);
        //     });

        //     makePostArea(commentArea, outputDiv);
        // });

        // function makePostArea(dom_elem1, dom_elem2) {
        //     if(dom_elem1.offsetHeight > 200) {
        //         dom_elem1.parentElement.parentElement.style.height = (dom_elem1.offsetHeight + dom_elem2.offsetHeight + 250) + "px";
        //     } else {
        //         dom_elem1.parentElement.parentElement.style.height = (dom_elem1.offsetHeight + dom_elem2.offsetHeight + 200) + "px";
        //     }
        // }

        // For responsive parts
        // Mobile responsive (max-width: 576px)
        let menuIcon = document.querySelector('.hamburger-menu-trigger')
        let sidebar = document.querySelector('.sidebar')

        const adjustRulesVisibility = (e) => {
            if (window.matchMedia('(max-width: 576px)').matches) {
                sidebar.style.display = 'none'
                menuIcon.style.display = 'flex'
            } else {
                menuIcon.style.display = 'none'
                sidebar.style.display = 'flex'
            }
        }

        // Call the function when the page loads
        adjustRulesVisibility();

        // Call the function when the window is resized
        window.addEventListener('resize', adjustRulesVisibility)

        menuIcon.addEventListener('click', (e) => {
            if (menuIcon.checked == true) {
                console.log(menuIcon.checked);
                sidebar.style.display = 'flex';
            } else if (menuIcon.checked == false) {
                console.log(menuIcon.checked);
                sidebar.style.display = 'none';
            }
        })
    </script>
</body>
</html>
