<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--Import some text font-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mina:wght@700&display=swap" />
    <link href="https://fonts.cdnfonts.com/css/karmatic-arcade" rel="stylesheet">
    <!--Import fonts for icons-->
    <script src="https://kit.fontawesome.com/d535fdea96.js" crossorigin="anonymous"></script>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/Viewpost(+comments).css">
</head>
<body>
    <div class="header">
        <div class="left-section">
            <div class="menu">
                <label class="hamburger-menu" for="check">
                    <input type="checkbox" id="check"">
                </label>
            </div>
            <a href="Homepage.html">
            <div class="logo">
                <span>
                    arcade<span class="pedia">pedia</span>
                </span>
            </div>
           </a> 
        </div>

        <div class="right-section">
            <a href="#">
                <div class="search-button" role="button">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div> 
            </a>   
            <a href="login.html">
                <div class="login-button" role="button">
                    Login
                </div>
            </a>
            <a href="register.html">
                <div class="register-button" role="button">
                    <i class="fa-regular fa-circle-user" id="profile"></i>
                    Register
                </div>
            </a>
            <div class="bg-toggle-button" role="button">
                <i class="fa-solid fa-moon"></i>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="sidebar">
            <nav role="navigation">
                <ul class="links">
                    <li><a href="Homepage.html"><div class="items"><i class="fa fa-house"></i>Home</div></a></li>
                    <li><a href="#"><div class="items"><i class="fa-regular fa-compass"></i>Explore</div></a></li>
                    <li><a href="#"><div class="items"><i class="fa-regular fa-comments"></i>Forums</div></a></li>
                    <li id="sub-menu"><a href="#"><div class="items"><i class="fa-regular fa-circle-question"></i>About</div></a>
                        <ul class="sublink">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Rules</a></li>
                            <li><a href="#">Disclaimer</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="content col-xl-8 col-lg-8 col-md-8 mx-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Forum</a></li>
                    <li class="breadcrumb-item"><a href="/forum/topics">Topics</a></li>
                    <li class="breadcrumb-item"><a href="#"><%= topic_id %></a></li>
                    <li class="breadcrumb-item"><a href="/forum/topics/<%= topic_id %>/posts">Posts</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><%= post.title %></li>
                </ol>
            </nav>

            <div class="content-margin">
                <div class="row">
                    <a class="noUnderlineLink" href="#">&larr;All posts</a>
                </div>
                <div class="post">
                    <div class="infoRow justify-content-between">
                        <div class="userInfo">
                            <span><img class="profilePic" src="./assets/Viewpost/placeholder-pic.png" alt="profilePic" width="40px" height="40px"></span>
                            <span class="username">Minh Khoi</span>
                            <span class="timestampSeperator">•</span>
                            <span class="timestamp">May 15th, 2099</span>
                        </div>
                        <div class="options-container">
                            <span class="option"><i class="fa-solid fa-ellipsis"></i></span>
                            <div class="buttons-container invisible">
                                <form action="#" method="get" class="userAction">
                                    <button type="submit"><i class="fa-solid fa-trash"></i>Delete</button>
                                </form>
                                <form action="#" method="get" class="userAction">
                                    <button type="submit"><i class="fa-solid fa-pen"></i>Edit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h1>Title</h1>
                    </div>
                    <div class="row">
                        <p>Body</p>
                    </div>
                    <div class="row">
                        <span>
                            <span class="reaction">
                                <span class="like-post-button">&#x25B2;</span>
                                0
                                <span class="dislike-post-button">&#x25BC;</span>    
                        </span>
                        <span class="reply">
                            <span class="comment-outline">
                                <i class="fa-regular fa-message"></i>
                            </span>
                            <span class="numberOfComments">
                                123
                            </span>    
                        </span>
                    </div>
                </div>
                <hr>
                <div class="makeComment">
                    <div class="userClick">
                        <img class="profilePic" src="./assets/Viewpost/placeholder-pic.png" alt="profilePic" width="60px" height="60px">
                        <span>Leave a comment</span>
                    </div>
                </div>
                <hr>
                <div class="commentSection">
                    <div class="comment" id="1">
                        <div class="infoRow justify-content-between">
                            <div class="userInfo">
                                <span><img class="profilePic" src="./assets/Viewpost/placeholder-pic.png" alt="profilePic" width="40px" height="40px"></span>
                                <span class="username">Minh Khoi</span>
                                <span class="timestampSeperator">•</span>
                                <span class="timestamp">May 15th, 2099</span>
                            </div>
                            <div class="options-container">
                                <span class="option"><i class="fa-solid fa-ellipsis"></i></span>
                                <div class="buttons-container invisible">
                                    <form action="#" method="get" class="userAction">
                                        <button type="submit"><i class="fa-solid fa-trash"></i>Delete</button>
                                    </form>
                                    <form action="#" method="get" class="userAction">
                                        <button type="submit"><i class="fa-solid fa-pen"></i>Edit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <p>Body</p>
                        </div>
                        <div class="row">
                            <span>
                                <span class="reaction">
                                    <span class="like-comment-button">&#x25B2;</span>
                                    0
                                    <span class="dislike-comment-button">&#x25BC;</span>    
                                </span>
                                <span class="reply">
                                    <a href="#" class="commentOpen">
                                        <span class="comment-outline">
                                            <i class="fa-regular fa-message"></i>
                                        </span>
                                        <span class="numberOfComments">
                                            123
                                        </span>
                                    </a>
                                </span>
                            </span>
                        </div>
                    </div>
                    <hr>
                    <div class="comment" id="2">
                        <div class="infoRow justify-content-between">
                            <div class="userInfo">
                                <span><img class="profilePic" src="./assets/Viewpost/placeholder-pic.png" alt="profilePic" width="40px" height="40px"></span>
                                <span class="username">Minh Khoi</span>
                                <span class="timestampSeperator">•</span>
                                <span class="timestamp">May 15th, 2099</span>
                            </div>
                            <div class="options-container">
                                <span class="option"><i class="fa-solid fa-ellipsis"></i></span>
                                <div class="buttons-container invisible">
                                    <form action="#" method="get" class="userAction">
                                        <button type="submit"><i class="fa-solid fa-trash"></i>Delete</button>
                                    </form>
                                    <form action="#" method="get" class="userAction">
                                        <button type="submit"><i class="fa-solid fa-pen"></i>Edit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <p>Body</p>
                        </div>
                        <div class="row">
                            <span>
                                <span class="reaction">
                                    <span class="like-comment-button">&#x25B2;</span>
                                    0
                                    <span class="dislike-comment-button">&#x25BC;</span>    
                                </span>
                                <span class="reply">
                                    <a href="#" class="commentOpen">
                                        <span class="comment-outline">
                                            <i class="fa-regular fa-message"></i>
                                        </span>
                                        <span class="numberOfComments">
                                            123
                                        </span>
                                    </a>
                                </span>
                            </span>
                        </div>    
                    </div>
                    <hr>
                    <div class="comment" id="3">
                        <div class="infoRow justify-content-between">
                            <div class="userInfo">
                                <span><img class="profilePic" src="./assets/Viewpost/placeholder-pic.png" alt="profilePic" width="40px" height="40px"></span>
                                <span class="username">Minh Khoi</span>
                                <span class="timestampSeperator">•</span>
                                <span class="timestamp">May 15th, 2099</span>
                            </div>
                            <div class="options-container">
                                <span class="option"><i class="fa-solid fa-ellipsis"></i></span>
                                <div class="buttons-container invisible">
                                    <form action="#" method="get" class="userAction">
                                        <button type="submit"><i class="fa-solid fa-trash"></i>Delete</button>
                                    </form>
                                    <form action="#" method="get" class="userAction">
                                        <button type="submit"><i class="fa-solid fa-pen"></i>Edit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <p>Body</p>
                        </div>
                        <div class="row">
                            <span>
                                <span class="reaction">
                                    <span class="like-comment-button">&#x25B2;</span>
                                    0
                                    <span class="dislike-comment-button">&#x25BC;</span>    
                                </span>
                                <span class="reply">
                                    <a href="#" class="commentOpen">
                                        <span class="comment-outline">
                                            <i class="fa-regular fa-message"></i>
                                        </span>
                                        <span class="numberOfComments">
                                            123
                                        </span>    
                                    </a>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer"></div>
    <script>
        //Variables declaration
        // let check = document.querySelector("#check");
        // let sidebar = document.querySelector('.sidebar');
        // let content = document.querySelector('.content');
        // let links = document.querySelector('.links');
        
        let options = document.querySelectorAll(".option");

        let likePostBtns = document.querySelectorAll(".like-post-button");
        let dislikePostBtns = document.querySelectorAll(".dislike-post-button");
        let likeCommentBtns = document.querySelectorAll(".like-comment-button");
        let dislikeCommentBtns = document.querySelectorAll(".dislike-comment-button");

        let makeCommentWidget = document.querySelector(".makeComment");
        let i = 0;
        let initialHeight;
        let makeCommentWidget1 = document.querySelector(".reply");

        // check.addEventListener("click", (e) => {
        //     if (check.checked == true) {
        //         sidebar.style.width = "15%";
        //         content.style.marginLeft = "15%";
        //         links.style.opacity = "100%";
        //     } else {
        //         sidebar.style.width = "0";
        //         content.style.marginLeft = "0";
        //         links.style.opacity = "0";
        //     }
        // });

        options.forEach((option) => {
            option.addEventListener("click", (e) => {
                let btnsContainer = option.parentElement.querySelectorAll(".buttons-container");
                btnsContainer.forEach((btn) => {
                    btn.classList.toggle("invisible");
                })
            })
        });

        [...likePostBtns, ...likeCommentBtns].forEach(button => {
            button.addEventListener("click", (e) => {
                if(button.classList.contains("like-post-button")) {
                    button.classList.toggle("likedLike");
                } else {
                    button.classList.toggle("likedLike");
                }
            });
        });

        [...dislikePostBtns, ...dislikeCommentBtns].forEach(button => {
            button.addEventListener("click", (e) => {
                if(button.classList.contains("dislike-post-button")) {
                    button.classList.toggle("dislikedDislike");
                } else {
                    button.classList.toggle("dislikedDislike");
                }
            });
        });

        makeCommentWidget1.addEventListener("click", (e) => {
            makeCommentWidget.click();
        });

        makeCommentWidget.addEventListener("click", (e) => {
            if(i === 0) {
                i++;
                e.currentTarget.classList.add('expanded');

                e.currentTarget.innerHTML = '';

                //Create 


                //Create the submit button
                let submitBtn = document.createElement('button');
                submitBtn.type = 'submit';
                submitBtn.textContent = 'Post';
                submitBtn.className = "submitBtnB";

                // Create the form element
                let form = document.createElement('form');
                form.action = "/forum/topics/<%= topicId %>/posts/<%= post._id %>/comment";
                form.method = "get";
                form.className = "formAction";

                // Create the textarea element
                let textarea = document.createElement('textarea');
                textarea.name = "comment";
                textarea.placeholder = "Write your comment here...";

                // Append the textarea to the form
                form.appendChild(textarea);
                form.appendChild(submitBtn);

                // Append the form to the e.currentTarget
                e.currentTarget.appendChild(form);

                /*============================================================================================================
                <div class="makeComment">
                    <form action="/forum/topics/<%= topicId %>/posts/<%= post._id %>/comment" method="get" class="formAction">
                        <textarea name="comment" placeholder="Write your comment here.."></textarea>
                        <button type="submit" class="submitBtnB">Post</button>
                    </form>
                </div>
                ============================================================================================================*/
            }

            i++;

            let commentArea = document.querySelector('.makeComment textarea');

            if (initialHeight !== commentArea.offsetHeight) {
                initialHeight = commentArea.offsetHeight;
            }

            makeCommentArea(commentArea);
        });

        function makeCommentArea(dom_elem) {
            if(dom_elem.offsetHeight > 200) {
                dom_elem.parentElement.parentElement.style.height = (dom_elem.offsetHeight + 200) + "px";
            } else {
                dom_elem.parentElement.parentElement.style.height = (dom_elem.offsetHeight + 100) + "px";
            }
        }
    </script>
</body>
</html>