/**
View specific post with comments page Css customize
Authors: - Bui Thai Son (s4037172)
        - Nguyen Tuan Minh Khoi (s3995060)
**/


/** 
---------- Import header style for the webpage */ @import url('header.css'); /* ----------
*/


/**
----------- Import sidebar style for the webpage */ @import url('sidebar.css'); /* --------------
**/


/** ------- Import footer styles for the webpage **/ @import url("footer.css"); /* --------------
**
*/

/** ------- Import tooltip styles for the webpage **/ @import url("tooltip.css"); /* --------------
**
*/

* {
    box-sizing: border-box;
}

:root {
    --background-color-light: #FFFFFF;
    --background-color-dark: #000000;
    --Electric-blue: #86EEEC;
    --Amenthys: #AC63D4;
    --Grapes: #7B1DaE;
    --Turquoise: #53E8D4;
    --hover-background: #d9d9d9;
    --post-background-light: #d8d8d8;
    --post-background-dark: #231F20;
    --animation-timing: 300ms ease-in-out;
    --background-timing: 400ms ease-in-out;
    --cross-height: calc(4px * 3 + 4px * 2);
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    transition: var(--background-timing);
}

/* .hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: 30px;
    transform-origin: left center;
    height: 5px;
    background-color: var(--background-color-dark);
    border-radius: 9999px;
    transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing);
}

.hamburger-menu {
    --x-width: calc(var(--cross-height) * 1.41421356237); 

    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 40px;
    cursor: pointer;
    width: max-content;
    margin-top: 7.5px;
    margin-right: 20px;
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(5px / -2);
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(5px / 2);
} */

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 80px);
}

/*-------------- End of right button styles -------------
---------------------------------------------------------
---------------- Main content styles --------------------
**
*/

/* Content */
.content {
    display: flex;
    flex-direction: column; /* if the layout is vertical */
    transition: margin-left 300ms;
    background-color: #DADADA;
    margin: 20px 0 100px 0;
    border-radius: 20px;
    padding: 20px;
    margin: 80px auto;
    box-shadow: 0px 0px 10px 2px var(--hover-background);
}

.breadcrumb-item, .breadcrumb-item a {
    color: var(--Grapes);
}

html[data-bs-theme='dark'] .breadcrumb-item a {
    color: var(--Amenthys);
}

html[data-bs-theme='dark'] .content {
    background-color: gray;
    box-shadow: 0px 0px 10px 2px gray;
    /* transition: var(--background-timing); */
}

.content-margin {
    flex-grow: 1; /* to fill available space */
    margin: 0 50px 0 50px;
}

.noUnderlineLink {
    display: inline-block;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--Grapes);
    font-weight: 600;
}

html[data-bs-theme='dark'] .noUnderlineLink {
    color: var(--Amenthys);
}

html[data-bs-theme='dark'] .row h1 {
    color: var(--Amenthys);
}

.post {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.row h1 {
    color: var(--Grapes);
    font-weight: 600;
}

.profilePic {
    border-radius: 50%;
}

.userInfo {
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: 5px;
    /* padding-bottom: 20px; */
    font-size: 20px;
}

.userInfo img {
    margin-right: 5px;
}

.infoRow {
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px 0;
}

.options-container {
    position: relative;
}

.option {
    cursor: pointer;
    margin-left: auto;
    position: relative;
}

.buttons-container {
    position: absolute;
    top: 0;
    right: 20px;
    width: 100px;
}

.userAction {
    cursor: pointer;
    display: block;
}

.userAction {
    cursor: pointer;
}

.userAction:first-of-type button {
    border: 2px solid black;
    border-bottom: 0;
    border-radius: 20px 20px 0 0;
    transition: background 0.3s ease;
}

.userAction:last-of-type button {
    border: 2px solid black;
    border-top: 0;
    border-radius: 0 0 20px 20px;
    transition: background 0.3s ease;
}

.userAction button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: left;
    border: none;
    background: whitesmoke;
}

.row p {
    font-size: 20px;
}

.userAction:hover {
    background-color: white;
    border-radius: 20px;
}

.userAction:first-of-type button:hover {
    background-color: #DADADA;
    border-radius: 20px 20px 0 0;
}

.userAction:last-of-type button:hover {
    background-color: #DADADA;
}

.reaction {
    display: inline-flex;
    box-sizing: border-box;
    /* width: 100px; */
    border: 2px solid #000000;
    border-radius: 30px;
    margin-right: 30px;
    align-items: center;
}

html[data-bs-theme='dark'] .reaction {
    border: 2px solid var(--background-color-light);
}

.reaction span.like-post-button, .reaction span.dislike-post-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 0 5px 0 5px;
    border-radius: 50%;
    transition: background 0.3s ease;
}

.reaction span.like-post-button:hover, .reaction span.dislike-post-button:hover {
    background-color: white;
}

.likedLike {
    color: green;
}

.dislikedDislike {
    color: red;    
}

.reply {
    cursor: pointer;
    display: inline-flex;
    box-sizing: border-box;
    /* width: 100px; */
    border: 2px solid #000000;
    border-radius: 30px;
    margin-right: 30px;
    align-items: center;
}

html[data-bs-theme='dark'] .reply {
    border: 2px solid var(--background-color-light);
}

.reply:hover {
    color: var(--background-color-dark);
    background-color: white;
}

html[data-bs-theme='dark'] .reply a:hover {
    color: var(--background-color-dark);
    background-color: white;
}

.reply a {
    text-decoration: none;
    color: var(--background-color-dark);
    border-radius: 50%;
    transition: background 0.3s ease;
}

html[data-bs-theme='dark'] .reply a {
    color: var(--background-color-light);
}

.reply a:hover {
    background-color: white;
}

.reply span {
    display: inline-block;
    padding: 2.5px 7px 2.5px 7px;
}

.comment-outline {
    display: inline-block;
    /* cursor: pointer; */
    border-radius: 50%;
    transition: background 0.3s ease;
}

.comment-outline:hover {
    background-color: white;
}

.makeComment {
    padding-left: 10px;
    cursor: pointer;
    border-radius: 20px 20px 20px 20px;
    background-color: whitesmoke;
    height: 60px;
    margin-bottom: 30px;
    align-content: center;
    transition: height 0.5s ease;
    position: relative;
}

.makeComment.expanded {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formAction {
    width: 100%;
    display: grid;
    align-items: center;
    padding: 10px;
}

.makeComment div.editor {
    margin: 10px 0 0 0;
    border: 1px solid black;
    width: 90%;
}

.makeComment button.edit-btn {
    height: 40px;
    width: 40px;
}

.makeComment textarea {
    height: 100px;
    width: 90%;
    z-index: 1;
}

.submitBtnB {
    border-radius: 10px 10px 10px 10px;
    color: rgba(0, 0, 0, 50%);
    background-color: rgba(83, 232, 212, 50%);
    font-weight: bold;
    border: 0;
    margin-top: 20px;
    width: 10%;
}

.makeComment span {
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
    color: gray;
}

.commentSection {
    margin-left: 30px;
}

.comment {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
}

.reaction span.like-comment-button, .reaction span.dislike-comment-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 0 5px 0 5px;
    border-radius: 50%;
    transition: background 0.3s ease;
}

.reaction span.like-comment-button:hover, .reaction span.dislike-comment-button:hover {
    background-color: white;
}

/** ------------------------ Tablet responsive ------------------------------------ **/
/** ---------------- (min-width: 576px and max-width: 768px) ------------------------ **/
@media (min-width: 576px) and (max-width: 768px) {
    /** Resize the post box **/
    .content {
        width: 75%;
    }

    .userInfo {
        font-size: 15px;
    }

    .row p {
        font-size: 17px;
    }

    .breadcrumb li {
        font-size: 13px;
    }
}

/** ------------------------------------------------------------------------------------ **\/
/** ----------------------------------Mobile responsive--------------------------------- **/
/** --------------------------------- max-width: 576px ---------------------------------- **/
@media (max-width: 576px) {
    /** Now make the post box full width **/
    .content {
        width: 100%;
        /* full height also */
        height: 100%;
        margin: 0;
        border-radius: 0;
    }

    .content-margin {
        width: 95%;
        margin-left: 10px;
    }
    /* But first, let's make the sidebar on the top of the webpage **/ 
    .main {
        flex-direction: column;
    }

    .breadcrumb li {
        font-size: 10px;
    }

    .userInfo {
        font-size: 13px;
    }

    .username {
        font-size: 13px;
    }

    .row p {
        font-size: 15px;
    }

    .reaction, .reply {
        margin-right: 10px;
    }
}